{% extends "layouts/base.html" %}

{% block title %} Add {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Information Extraction</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Image</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Checking Information</h5>
                                        </div>
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                    <form method="POST" action="{% url 'AddFin' %}">
                                                        {% csrf_token %}
                                                        <label for="nature">Nature of document</label>
                                                        <select class="form-control" aria-label="" id="nature" name="nature">
                                                            <option selected="selected" disabled>Objects on page:</option>
                                                            {% for data in img_scan %}
                                                                <option value="{{data}} ">{{data}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    {% for error in form.nature.errors %}
                                                            <div class="invalid-feedback d-block text-end">{{ error }}</div>
                                                            {% endfor %}
                                                    <label for="exampleFormControlSelect1">Company Name</label>
                                                        <select class="form-control" id="name" name="name">
                                                            <option selected="selected" disabled>Objects on page:</option>
                                                            {% for data in img_scan %}
                                                                <option value="{{ data}}">{{ data}} </option>
                                                            {% endfor %}
                                                        </select>
                                                        {% if form.name.help_text %}
                                <div class="form-text">{{ form.name.help_text }}</div>
                                {% endif %}
                                                        {% for error in form.name.errors %}
                                                            <div class="invalid-feedback d-block text-end">{{ error }}</div>
                                                            {% endfor %}


                                                    <label for="exampleFormControlSelect1">Responsible Name</label>
                                                        <select class="form-control" id="address" name="address">
                                                            <option selected="selected" disabled>Objects on page:</option>
                                                            {% for data in img_scan %}
                                                                <option value="{{ data}} ">{{ data}} </option>
                                                            {% endfor %}
                                                        </select>
                                                            {% for error in form.address.errors %}
                                                            <div class="invalid-feedback d-block text-end">{{ error }}</div>
                                                            {% endfor %}



                                                        <label for="exampleFormControlSelect1">Total</label>
                                                        <select class="form-control" id="total" name="total">
                                                            <option selected="selected" disabled>Objects on page:</option>
                                                            {% for data in img_scan %}
                                                                <option value="{{ data}} ">{{ data}} </option>
                                                            {% endfor %}
                                                        </select>
                                                    {% for error in form.total.errors %}
                                                            <div class="invalid-feedback d-block text-end">{{ error }}</div>
                                                            {% endfor %}


                                                    <label for="exampleFormControlSelect1">Date</label>
                                                        <select class="form-control" id="phone" name="phone">
                                                            <option selected="selected" disabled>Objects on page:</option>
                                                            {% for data in img_scan %}
                                                                <option value="{{ data}} ">{{ data}} </option>
                                                            {% endfor %}
                                                        </select>
                                                        {% for error in form.phone.errors %}
                                                            <div class="invalid-feedback d-block text-end">{{ error }}</div>
                                                            {% endfor %}

                                                    <div class="form-group">
                                                            <label for="exampleFormControlTextarea1">Comment</label>
                                                            <textarea class="form-control" rows="3" id="comment" name="comment" ></textarea>
                                                    </div>
                                                    <input type="submit" class="btn btn-primary"  value="Add Record">

                                                    </form>

                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
