{% extends "layouts/base.html" %}

{% block title %} Update {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Information Extraction</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="{% url 'new_picture' %}">Add New!</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Update your Record</h5>
                                        </div>
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <form method="POST" action="{% url 'update_picture' picture.id %}">
                                                            {% csrf_token %}
                                                            <label for="first_name">{{ form.first_name.label }}</label>
                                                            <input name="first_name" type="text" placeholder=""
                                                                   class="form-control" id="first_name"
                                                                   value="{{ picture.first_name }}">

                                                            {% for error in form.first_name.errors %}
                                                                <div class="invalid-feedback d-block text-end">{{ error }}</div>
                                                            {% endfor %}
                                                            <label for="exampleFormControlSelect1">{{ form.last_name.label }}</label>
                                                            <input name="last_name" type="text" placeholder=""
                                                                   class="form-control" id="last_name"
                                                                   value="{{ picture.last_name }}">

                                                            {% if form.last_name.help_text %}
                                                                <div class="form-text">{{ form.last_name.help_text }}</div>
                                                            {% endif %}
                                                            {% for error in form.last_name.errors %}
                                                                <div class="invalid-feedback d-block text-end">{{ error }}</div>
                                                            {% endfor %}

                                                            <label for="exampleFormControlSelect1">Email</label>
                                                            <input name="email" type="text" placeholder=""
                                                                   class="form-control" id="email"
                                                                   value="{{ picture.email }}">

                                                            {% for error in form.email.errors %}
                                                                <div class="invalid-feedback d-block text-end">{{ error }}</div>
                                                            {% endfor %}


                                                            <label for="exampleFormControlSelect1">Address</label>
                                                            <input name="address" type="text" placeholder=""
                                                                   class="form-control" id="address"
                                                                   value="{{ picture.address }}">

                                                            {% for error in form.address.errors %}
                                                                <div class="invalid-feedback d-block text-end">{{ error }}</div>
                                                            {% endfor %}

                                                            <label for="exampleFormControlSelect1">Phone</label>
                                                            <input name="phone" type="text" placeholder=""
                                                                   class="form-control" id="phone"
                                                                   value="{{ picture.phone }}">

                                                            {% for error in form.phone.errors %}
                                                                <div class="invalid-feedback d-block text-end">{{ error }}</div>
                                                            {% endfor %}
                                                            <label for="exampleFormControlSelect1">Birthday date</label>

                                                            <input name="birthday" type="text" placeholder=""
                                                                   class="form-control" id="birthday"
                                                                   value="{{ picture.birthday }}">
                                                            {% for error in form.birthday.errors %}
                                                                <div class="invalid-feedback d-block text-end">{{ error }}</div>
                                                            {% endfor %}
                                                            <div class="form-group">
                                                                <label for="exampleFormControlTextarea1">Comment</label>
                                                                <textarea class="form-control" rows="3" id="comment"
                                                                          name="comment">{{picture.comment}}</textarea>
                                                            </div>
                                                            <input type="submit" value="Update your record" class="btn btn-primary" >

                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
